[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[user]
	name = wojtii
	email = wojciechniedbala@pm.me
[alias]
	co = checkout
	c = commit
	s = status
	a = add
[github]
	user = wojtii
[core]
	excludesfile = ~/.gitignore
